In [68]:
import random
import pandas as pd

cols = ['value', 'B', 'C', 'D', 'E', 'tweet']
data = pd.read_csv('data.csv', names=cols,usecols = range(6), encoding='iso-8859-1')
l = []
cnt = 15
for i in range(cnt):
    l.append(random.randrange(1, 1600000))

val = data["value"]
tweets = data["tweet"]

l1 = []
l2 = []

for i in l:
    if val[i]==4:
        l1.append(1);
    else:
        l1.append(0);
    l2.append(tweets[i])

dict = {'value': l1, 'tweet': l2}  

df = pd.DataFrame(dict) 
    
df.to_csv('data_of_50000.csv') 
df

    value                                              tweet
0       1  Can't believe that he added me.  ~AfterTonight...
1       1            off to bedd nowwww tonight was funny!!
2       0                        Wtf is wrong with my belly
3       0            @katie_outram I would but I'm too busy
4       1  @laurabergerol I hope I don't disappoint!  mor...
5       0            @nikorudesu  best wishes. Stay positive
6       1    @sarahdrinkwater Fantastic!  Glad you liked it!
7       1  Nothing like a little &quot;Freak Like Me&quot...
8       0                    @Greek4Honeybee i know...sorry
9       0  Working working working, wish my daughter and ...
10      1         @thetarotlady thanks for the followfriday
11      0  @LaurenOhhh so i kinda got drunk and lost my p...
12      0  @dobroellie im sorry!!!! im not  i wish i coul...
13      0                  hi  ta3bana i have a stomach ache
14      0  My episode of Chopped is on the Food Network a...